:root {
  --color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */


header{
  background-color: grey;
  height: 75px;
}

h1{
  display: inline-block;
  padding:5px 30px;
  margin-top: 8px;
  background-color: var(--color);
}
nav{
  display: inline;
  float: right;

}

 nav a{
  font-size: 27px;
  position: relative;
  top: 15px;
  right: 50px;
  gap: 10px;
  color: var(--color);
} 


.container {
  height: 70vh;
  min-height: 500px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 25% 75%;
  grid-template-areas: 
  "sr sr"
  "ld cl"
  "pp rb";
  gap: 17px;
}

.hero-banner {
 height: 150px;
  background-image: url(../images/02-hero-bg.jpg);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}


.text-banner{
  color: var(--color);
  background-color: black;
  width: 220px;
  padding: 5px;
}

/* Main */



 h2{
  float: right;
  margin: 30px 0px;

}

.aboutme-text, .mywork, .contactme {
  border-left: 5px solid black;
  margin: 30px 0px;
  padding-left: 10px;
  
}

.mywork{
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  "sr sr"
  "ld cl"
  "pp rb";
}

.surf-report {
  border: rgb(164, 159, 159) solid 7px;
  margin: 10px;
  grid-area: sr;
  background-image: url("../images/02-portfolio-1.jpg");
}

.led-wall {
  border: rgb(164, 159, 159) solid 7px;
  margin: 10px;
  grid-area: ld;
  background-image: url("../images/02-portfolio-2.jpg");
}

.calculator {
  border: rgb(164, 159, 159) solid 7px;
  margin: 10px;
  grid-area: cl;
  background-image: url("../images/02-portfolio-3.jpg");
}





.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: var(--color);
  font-size: 18px;
  text-align: start;
  position: relative;
  top: 50%;
  height: 50px;
  width: 200px;
  left: 0px;
 
}

span {
  padding: 0px 100px;
  text-decoration: underline;
  font-size: 18px;
}

footer {
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: black;
  margin: 20px;
  padding-top: 50px;
  position: relative;
  top: 150px;
  display: flex;
}

footer img{
  margin: 0px 100px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

}

footer p{
color: var(--color);
font-size: 30px;
align-items: center;
margin: 0 auto;
}

.photo{
  border-radius: 10%;
}